/* Amazon Style Product Details Page CSS */

.amz-detail-page a {
  text-decoration: none;
}
.amz-detail-page a:hover {
  text-decoration: underline;
  color: #c45500 !important;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

/* Custom Scrollbar for Offers Box */
.amz-scrollbar::-webkit-scrollbar {
  height: 6px;
}
.amz-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
.amz-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}
.amz-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
