/* Amazon Style Cart CSS */
.amz-cart-page a {
  text-decoration: none;
}
.amz-cart-page a:hover {
  text-decoration: underline;
  color: #c45500 !important;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.cursor-pointer {
  cursor: pointer;
}
