/* ═══════════════════════════════════════
   HEADER
═══════════════════════════════════════ */

.new-header {
  background-color: #ffffff;
}

.new-header-search input:focus {
  box-shadow: 0 0 0 0.2rem rgba(87, 66, 232, 0.25);
  border-color: #5742e8 !important;
}

.new-header-item:hover, .new-header-cart:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-text-light {
  transition: color 0.2s;
}
.hover-text-light:hover {
  color: #f8c146 !important;
}

.active-nav-link {
  background-color: #ffffff !important;
  color: rgb(154, 140, 209) !important;
  font-size: 14px;
  font-weight: 400 !important;
}
